body {
    font-family: Arial, sans-serif;
    background-color: #fff7cc;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff0b3;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    color: #a45c00;
}

nav {
    display: flex;
    justify-content: flex-start; /* выравнивание по левому краю */
    gap: 5px;
    margin-left: 20px;
}

nav a {
    background-color: #fff0b3;
    border: 2px solid #c9a43d;
    padding: 10px 12px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color: #000; /* чёрный текст */
    display: inline-block;
}

nav a:hover {
    background-color: #f5d97b;
    color: #5e3f00;
}

.sidebar {
    width: 200px;
    float: left;
    background-color: #fff7cc;
    padding: 10px;
}

.ad-box {
    background-color: #ffa500;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

.practice-box {
    background-color: #f3d58a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.practice-box h2 {
    margin-top: 0;
    color: #734d00;
}
